---
---

$primary-color: #ff9b17;
$light-grey: #dfe2e5;

.page-content {
    margin: 0 auto;
    max-width: 50rem;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    color: #555;

    a {
        color: $primary-color;
    }

    a:hover, a:focus {
        color: scale-color($color: $primary-color, $lightness: -30%);
    }

    h1, h2, strong, b {
        color: #333;
    }

    .h2, h2, .h3, h3, .h4, h4, .h5, h5 {
        margin-top: 1em;
    }

    .h1, h1 {
        font-size: 2.0rem;
        margin-top: 1.5em;
        margin-bottom: 0.5em;
        padding-bottom: .25em;
        border-bottom: 1px solid $light-grey;
    }

    .h1, h1:first-child {
        margin-top: 15px;
    }

    .h2, h2 {
        font-size: 1.8rem;
    }

    .h3, h3 {
        font-size: 1.65rem;
    }

    .h4, h4 {
        font-size: 1rem;
        font-weight: bold;
    }

    .h6, h6 {
        font-size: 0.85em;
        color: #6a737d;
    }

    .p, p {
        margin-bottom: 0.5em;
    }

    table {
        background-color: transparent;
        border: solid black 1px;
        margin: 20px 0px;
    }
    
    th {
        text-align: left;
        border: solid black 1px;
    }

    td {
        padding: 10px 10px 0px 10px;
    }
}


blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid $light-grey;
}

.release-notes {
    h2 {
        margin: 2rem 0 1rem 0;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #333;
    }
    
    h3, ul, p {
        margin-left: 2rem;
    }
    
    h3 {
        margin-top: 2rem;
    }
    
    ul {
        padding-left: 1.5rem;
        
        li {
            margin-bottom: 0.25rem;
        }
    }
}
.navbar-toggler {
    float: left;
}

.navbar-brand>img {
    height: 20px;
    padding-right: 5px;
    margin-top: -5px;
}

@media (max-width: 575px){
    .navbar-brand {
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }
}

