---
---

.page-content {
    margin: 0 auto;
    max-width: 50rem;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    color: #555;

    p {

    }
    
    a {
        color: #19af84;;
    }

    h1, h2, strong, b {
        color: #333;
    }
    
    h6 {
        font-size: 0.85em;
        color: #6a737d;
    }

    h1 {
        font-size: 2.0rem;
        margin-top: 60px;
    }
    h1:first {
        margin-top: 0px;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.0rem;
    }
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

.release-notes {
    h2 {
        margin: 2rem 0 1rem 0;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #333;
    }
    
    h3, ul, p {
        margin-left: 2rem;
    }
    
    h3 {
        margin-top: 2rem;
    }
    
    ul {
        padding-left: 1.5rem;
        
        li {
            margin-bottom: 0.25rem;
        }
    }
}
.navbar-toggler {
    float: left;
}

.navbar-brand>img {
    height: 20px;
    padding-right: 5px;
}

@media (max-width: 575px){
.navbar-brand {
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
}
